<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @resume.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @resume.lastname %>
</p>


 <img src="<%= @resume.photourl %>" alt="Resume Photo" width="500" > 
 
 
<p>
  <strong>Photourl:</strong>
  <%= @resume.photourl %>
</p>

<p>
  <strong>Jobtitle:</strong>
  <%= @resume.jobtitle %>
</p>

<p>
  <strong>Location:</strong>
  <%= @resume.location %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resume.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @resume.phone %>
</p>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
